<div class="container">
   <div class="row">
     <div class="col-md-6 col-md-offset-2">
        <%= form_tag search_trips_path, method: :get, class: "center" do %>
       <%= text_field_tag :search, params[:search], class: "form-control" %>
     </div>  
     <div class="col-md-2">
      <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
      <% end %> 
     </div> 
  <%= link_to 'New Trip', new_trip_path, class: "btn btn-primary" %>
   </div>   
  <hr>
<div class="row">
  <div class="col-md-2" style='border-right: 1px solid #eeeeee;'>    
       <p style="line-height:28px">Language Spoken        
         <br><%= link_to "English", search_trips_path({:language => 'English'}.merge(params)) %>
         <br><%= link_to "Chinese", search_trips_path({:language => 'Chinese'}.merge(params)) %>
         <br><%= link_to "Korean", search_trips_path({:language => 'Korean'}.merge(params)) %>
         <br><%= link_to "French", search_trips_path({:language => 'French'}.merge(params)) %>
            
      </p>
      <p style="line-height:28px">Interests
        <br><%= link_to "Football", search_trips_path({:interests => 'football'}.merge(params)) %>
        <br><%= link_to "Musical", search_trips_path({:interests => 'musical'}.merge(params)) %>
        <br><%= link_to "Food", search_trips_path({:interests => 'food'}.merge(params)) %>
        <br><%= link_to "Nightlife", search_trips_path({:interests => 'nightlife'}.merge(params)) %>     
      </p>   
  </div><!-- end of col-md-2 -->
  <div class="col-md-10">
      <% @trips.each do |trip| %>
      <div class="row">
            <div class="col-md-3">       
              
            </div>
            <div class="col-md-5">
              <h3><%= "#{trip.user.first_name.capitalize} #{trip.user.last_name.capitalize}" %></h3>
              <p><%= trip.destination %> 
              <p><%= truncate(trip.about_myself, :length => 250) %></p> 
            </div>
            <div class="col-md-2">
              
              <%= link_to "Message", new_message_path(user: trip.user), class: "btn btn-link" %> 
            </div>          
      </div><!-- end of row -->
    <% end %>
  </div><!-- end of col-md-10 -->
</div>   
<br>
<%= #will_paginate @tutors, renderer: BootstrapPagination::Rails 
%>
<br>
