<div style="margin-left: 5%; margin-bottom: 20px;">
  <%= link_to 'New Trip', new_trip_path, class: "btn btn-primary"  %>
</div>


<div class="container">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= form_tag search_trips_path, :method=> :get, :class=> "center" do %>
          <%= select_tag :search, options_for_select(@destinations.uniq.sort.map {|destination| [destination.capitalize,destination]}), :id => "e1", :style=>"width:100%;", :multiple => true %><br><br>
          <%= submit_tag "Search", :name=> nil, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <br><br>

  <div class="row">

    <div class="col-md-2">
      <p style="line-height:28px;">
      <fieldset>
        <legend><h5><b>Language Spoken</b></h5></legend>
        <div style="margin-left: 10px;">
          <% @languages.each do |language| %>
              <% if language.present? %>
                  <%= link_to language.capitalize, search_trips_path(:language => language, :search => @search_param) %><br>
              <% end %>
          <% end %>
        </div>
      </fieldset>
      </p>
      <p style="line-height:28px;margin-top: 20px;">
      <fieldset>
        <legend><h5><b>Interests</b></h5></legend>
        <div style="margin-left: 10px;">
          <% @interests.each do |interest| %>
              <% if interest.present? %>
                  <%= link_to interest.capitalize, search_trips_path(:search => @search_param, :interests => interest) %><br>
              <% end %>
          <% end %>
        </div>
      </fieldset>
      </p>
    </div>

    <div class="col-md-10">
      <% @trips.each do |trip| %>
          <div class="row">
            <div class="col-md-1">
            </div>

            <div class="col-md-5">
              <div>
                <h3><%= "#{trip.user.first_name.capitalize} #{trip.user.last_name.capitalize}." %></h3>
              </div>
              <p>
                <table>
                  <tr>
                    <td><b>Destination</b></td>
                    <td><div style="padding-left: 10px;"><%= trip.destination.capitalize %></div></td>
                  </tr>
                  <tr>
                    <td><b>Interests</b></td>
                    <td><div style="padding-left: 10px;"><%= trip.interests.capitalize %></div></td>
                  </tr>
                  <tr>
                    <td><b>Language spoken</b></td>
                    <td><div style="padding-left: 10px;"><%= trip.language.capitalize %></div></td>
                  </tr>
                  <tr>
                    <td><b>About Myself</b></td>
                    <td><div style="padding-left: 10px;"><%= truncate(trip.about_myself, :length => 200) %></div></td>
                  </tr>
                </table>

              </p>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-2">
              <%= link_to "Message", new_message_path(user: trip.user), class: "btn btn-primary" %>
            </div>
          </div><!-- end of row -->
      <% end %>
    </div><!-- end of col-md-10 -->
  </div>
</div>
<%#= will_paginate @tutors, renderer: BootstrapPagination::Rails %>
<br>

  <script>
      $(document).ready(function() { $("#e1").select2({placeholder: "Where are you travelling to?", allowClear: true, maximumSelectionSize:1}); });
  </script>
